{% extends 'base.html.twig' %}

{% block title %}PersonneMorale{% endblock %}

{% block body %}
    <h1>PersonneMorale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personne_morale.id }}</td>
            </tr>
            <tr>
                <th>Siren</th>
                <td>{{ personne_morale.siren }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personne_morale.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('personne_morale_index') }}">back to list</a>

    <a href="{{ path('personne_morale_edit', {'id': personne_morale.id}) }}">edit</a>

    {{ include('personne_morale/_delete_form.html.twig') }}
{% endblock %}